/* =========================
   PHONE QUESTION
========================= */

.phone-question,
#phoneCode{
    display:flex;
    align-items:center;
    justify-content:center;

    min-height:150px;
    padding:20px;

    color:#60a5fa;

    font-size:clamp(3.5rem, 10vw, 6rem);
    font-weight:bold;
    text-align:center;
    letter-spacing:4px;
}

/* =========================
   PHONE INFO
========================= */

#codeInfo{
    text-align:center;
    line-height:1.7;
}